.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3em;
  padding-right: 3em;
  min-height: 70px;
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  font-family: "Spectral", serif;
  font-size: 14px;
}

.navbar-brand {
  flex: 3;
}

.nav-link {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: #191919;
  text-decoration: none;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  color: white;
  min-height: 33px;
  min-width: 95px;
  /* padding-right: 8px;
  padding-left: 8px;
  padding-top: 16px;
  padding-bottom: 16px; */
  border-radius: 16px;
}

.btn-text {
  color: #191919;
  text-decoration: none;
}
