.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
  width: 93%; */
  padding-left: 3em;
  padding-right: 3em;
  min-height: 70px;
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  font-family: "Spectral", serif;
  font-size: 14px;
}

.navbar-brand {
  flex: 3;
}

.nav-link {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: #191919;
  text-decoration: none;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  color: white;
  width: fit-content;
  height: fit-content;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 16px;
}

.btn-text {
  color: #191919;
  text-decoration: none;
}
