@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto&family=Spectral&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 5rem;
  font-family: "Spectral", serif;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

h4 {
  font-size: 0.8rem;
  color: #242424;
  font-weight: bold;
}

span {
  font-size: 0.8rem;
  color: #6b6b6b;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.d-flex-jc-ai-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl-5 {
  padding-left: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.section-primary {
  display: flex;
  align-items: center;
  background-color: #ffc017;
  height: 500px;
  padding-left: 3em;
  padding-right: 3em;
  border-bottom: 1px solid #191919;
}
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 60%;
}
.subtitle {
  font-size: 1.5rem;
}

#btn-section {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.section-grid {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #6b6b6b;
}

.grid-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.grid-item {
  display: flex;
}

.img-circle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.img-rounded {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.card-number {
  margin-right: 1rem;
}

.card-number span {
  font-size: 2rem;
  color: #f2f2f2;
  font-weight: bold;
}

.row-h {
  height: 25px;
}

.star {
  width: 13px;
  height: 13px;
}

.img-article{
    width: 50%;
}